EXCEL_PATH=/path/to/Beekeeping_Command_System_v41_ALL_LIST_RANGES_AUDITED_REPAIRED_v2.xlsx
APIARY_NAME=Turin Family Farm Apiary
EMAIL_FROM=you@gmail.com
EMAIL_TO=you@gmail.com
GMAIL_APP_PASSWORD=xxxx-xxxx-xxxx-xxxx
