SPREADSHEET_ID=1QYgee0aW8j8RMpFNenwAqMMjx13v7EzrxOUdKk5sKC8
SERVICE_ACCOUNT_JSON=/path/to/service-account-key.json
APIARY_NAME=Turin Family Farm Apiary
EMAIL_FROM=you@gmail.com
EMAIL_TO=you@gmail.com
GMAIL_APP_PASSWORD=xxxx-xxxx-xxxx-xxxx
